section{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/* section{
    margin-top: 5px;
    margin-bottom: 5px;
} */
div{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    
}
button{
    margin-top: 10px;
    margin-left: 5px;
}
input{
    display:flex;
    margin-top: 5px;
    padding: 5px;
}


textarea{
    padding: 20px;
}
